* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body,
#app {
  margin: 0;
  padding: 0;
}

header,
footer {
  height: 4rem;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  font-size: 28px;
  border-bottom: 2px solid red;
}

header button {
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
}

footer {
  border-top: 2px solid red;
}

.container {
  height: calc(100vh - 8rem);
  max-width: 1200px;
  width: 100%;
  overflow: scroll;
  margin: 0 auto;
  padding: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon.red {
  filter: invert(19%) sepia(94%) saturate(7477%) hue-rotate(-14deg);
}

.icon.blue {
  filter: invert(25%) sepia(100%) saturate(4000%) hue-rotate(-170deg);
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 10px;
}

#searchInput {
  padding: 8px;
  width: 55%;
}

.search-icon {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.selected {
  background-color: #e6e6e6;
}

.edit,
.delete,
.save {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 4px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.delete-selected {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
