* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body,
#app {
  margin: 0;
  padding: 0;
}

header,
footer {
  height: 4rem;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
}

header {
  font-size: 28px;
  border-bottom: 2px solid red;
}

header button {
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
}

footer {
  border-top: 2px solid red;
}

.container {
  height: calc(100vh - 8rem);
  max-width: 1200px;
  width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon.white {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.icon.red {
  filter: invert(19%) sepia(94%) saturate(7477%) hue-rotate(-14deg);
}

.icon.blue {
  filter: invert(25%) sepia(100%) saturate(4000%) hue-rotate(-170deg);
}

.actionRow {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
  margin-right: 10px;
}

#searchGroup {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-bottom: 1px solid skyblue;
}

#searchInput {
  padding: 8px;
  width: 90%;
  border: none;
  outline: none;
}

.search-icon {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fuzz-container {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.clear {
  gap: 2px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-right: 5px;
}

.delete-selected {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: red;
  border-radius: 20px;
  color: white;
}

.delete-selected span {
  margin-top: 3px;
  padding: 1px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  overflow: hidden;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.selected {
  background-color: #e6e6e6;
}

.edit,
.delete,
.save {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.save {
  background-color: green;
  color: white;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 4px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
